/* GENERAL selectors */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-size: 14px;
}
/* ID selectors */

#logo {
  width: 140px;
  height: 70px;
  margin-left: 10%;
  padding-top: 4%;
}

#container{
  position: absolute;
  margin-left: 30%;
  margin-top: 10px;
  width: 40%;
  height: 100%;
  font-weight: 500;
}

#photogallery{
  position: relative;
  width: 100%;
  height: 90%;
  margin-top: 8px;
}

/* CLASS selectors */

.comment, .data1 {
  color: #808080;
}
.data1, .photosby {
  font-size: 12px;
}
.thebooleanertext {
  color: #20a9e5;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 5px;
}
.img2 {
  margin-left: 5px;
}
.second-section {
  width: 110%;
}
.tabella {
  margin-left: 2%; 
}

.second-section {
  margin-top: 13px;
}
.tabella, .rows, #third-section, p {
  margin-top: 20px;
}
.marker {
  background-color: yellow;
}
/* head rows */
#third-section {
  text-align: left;
  box-sizing: border-box;
}
.list {
  background-color: #20a9e5;
  color: white;
  width: 105%; 
}
table, tr, td {
  border-collapse: collapse;
}
/* body rows */
.whiterow {
  background-color: #FFFFFF;
} 
.lightbluerow { 
  background-color: #b1e5f2;
  width: 105%;
  height: 50px;
  padding-left: 10px;
  text-align: left;
  padding: 2px;
  box-sizing: border-box;
  color: black;
}


/* HEADER */

header {
  width: 50%;
  height: 75px;
  margin-left: 25%;
  display: block;
  background-color: #4ea0ff;
  background-image: url("img/pattern.png");
  background-size: 280px 150px;
  background-repeat: repeat;
}

h1 {
  font-weight: bolder;
}

